/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*Filters */

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.filter-btn {
    padding: 10px 20px;
    border: 1px solid #1D6154;
    border-radius: 60px;
    background-color: white;
    color: #1D6154;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background-color: #1D6154;
    color: white;
}

/* Login page */
#login {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}

#login h2 {
    margin-bottom: 30px;
}

#login form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#login label {
    margin-top: 20px;
    margin-bottom: 5px;
}

#login input {
    padding: 15px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#login button {
    margin-top: 30px;
    padding: 15px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 30px;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#login a {
    display: block;
    margin-top: 20px;
    color: inherit;
    font-size: 14px;
    text-decoration: underline;
}

/* Edit mode */

.edit-bar {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.edit-bar p {
    margin: 0;
    font-size: 14px;
}

.edit-bar i {
    margin-right: 10px;
}

.portfolio-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
	margin-bottom: 3em;
}

.edit-btn {
    background: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.edit-btn i {
    margin-right: 5px;
}

.hidden {
    display: none !important;
}

/* Modal overlay */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal container */
.modal-container {
    position: relative;
    background-color: #fff;
    width: 630px;
    min-height: 670px;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal h3 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.modal hr {
    border: none;
    border-top: 1px solid #B3B3B3;
    margin: 30px 0;
}

.error-message {
    color: #e74c3c;
    background-color: #fdeaea;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.error-message.hidden {
    display: none;
}

/* Modal gallery (Vue 1) */
.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.modal-gallery figure {
    position: relative;
    margin: 0;
}

.modal-gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}

.modal-gallery .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    font-size: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    background-color: #1D6154;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-family: 'Syne', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary:disabled {
    background-color: #A7A7A7;
    cursor: not-allowed;
}

/* Upload zone (Vue 2) */
.upload-zone {
    background-color: #E8F1F6;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.upload-zone i.fa-image {
    font-size: 70px;
    color: #B9C5CC;
}

.upload-zone input[type="file"] {
    display: none;
}

.btn-upload {
    display: inline-block;
    margin: 20px 0 10px;
    padding: 10px 30px;
    background-color: #CBD6DC;
    color: #306685;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.upload-zone p {
    font-size: 12px;
    color: #444;
    margin: 0;
}

.image-preview {
    display: block;
    max-width: 100%;
    max-height: 170px;
    margin: 0 auto;
    border-radius: 5px;
}

.image-preview.hidden {
    display: none;
}

/* Form styling */
#add-work-form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
}

#add-work-form input[type="text"],
#add-work-form select {
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}